[Desktop Entry]
Version=1.0
Type=Application
Name=Bridges puzzle
Name[pl]=Mosty
Name[ru]=Мостики
Name[uk]=Місточки
Exec=/usr/bin/epuzzles bridges
Categories=Games
