[Desktop Entry]
Version=1.0
Type=Application
Name=Fifteen puzzle
Name[es]=Puzzle Quince
Name[pl]=Piętnastka
Name[ru]=Пятнашки
Name[uk]=П'ятнашки
Name[zh]=数字拼图
Exec=/usr/bin/epuzzles fifteen
Categories=Games
Icon=fifteen
