[Desktop Entry]
Version=1.0
Type=Application
Name=Fifteen puzzle
Name[pl]=Piętnastka
Name[ru]=Пятнашки
Name[ua]=П'ятнашки
Exec=/usr/bin/epuzzles fifteen
Categories=Games
