[Desktop Entry]
Version=1.0
Type=Application
Name=Flip puzzle
Name[es]=Puzzle Conmutar
Name[pl]=Odwracanie
Name[ru]=Перевёртыш
Name[zh]=反转方块
Exec=/usr/bin/epuzzles flip
Categories=Games
