[Desktop Entry]
Version=1.0
Type=Application
Name=Pegs puzzle
Name[es]=Puzzle Clavijas
Name[pl]=Samotnik
Name[ru]=Колышки
Name[uk]=Кілочки
Name[zh]=孔明棋
Exec=/usr/bin/epuzzles pegs
Categories=Games
