[Desktop Entry]
Version=1.0
Type=Application
Name=Solo (Sudoku like) puzzle
Name[ru]=Соло (аналог судоку)
Name[ua]=Соло (аналог судоку)
Exec=/usr/bin/epuzzles solo
Categories=Games
