[Desktop Entry]
Version=1.0
Type=Application
Name=Solo (Sudoku like) puzzle
Name[es]=Puzzle Solo (estilo Sudoku)
Name[pl]=Solo (podobne do sudoku)
Name[ru]=Соло (аналог судоку)
Name[uk]=Соло (аналог судоку)
Name[zh]=Solo (类似数独)
Exec=/usr/bin/epuzzles solo
Categories=Games
