[Desktop Entry]
Version=1.0
Type=Application
Name=Twiddle puzzle
Name[pl]=Kręcenie
Name[ru]=Крути-верти
Name[uk]=Круть-верть
Exec=/usr/bin/epuzzles twiddle
Categories=Games
